# jupyter notebook in the root
*.ipynb

# workspace vscode settings
.vscode

# common log and cache folders
logs
tmp
.cache
__pycache__
*/__pycache__/*
*/*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*

# ignore .duckdb files
data/database/*/*.duckdb
