# jupyter notebook in the root
*.ipynb

# workspace vscode settings
.vscode

# common log and cache folders
logs
tmp
results
.cache
__pycache__
*/__pycache__/*
*/*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store

# ignore duckdb files
data/database/*/*.duckdb
data/database/*/*.duckdb.lock

# ignore vectorstore files
data/vectorstore/*/*.db
data/vectorstore/*/.*.db.lock
data/vectorstore/*/bm25*.json
data/vectorstore/milvus/*
!data/vectorstore/milvus/.gitkeep
embedEtcd.yaml
user.yaml
volumes

# raw dataset
data/dataset/*/raw_data/*
data/dataset/*/*.zip
!data/dataset/*/raw_data/.gitkeep
data/dataset/pdfvqa/processed_data/bbox_images
data/dataset/pdfvqa/processed_data/test_images
data/dataset/pdfvqa/processed_data/*
!data/dataset/pdfvqa/processed_data/.gitkeep
data/dataset/tatdqa/processed_data/tat_docs
data/dataset/tatdqa/processed_data/test
data/dataset/tatdqa/processed_data/test_docs
data/dataset/*/papers/*
!data/dataset/*/papers/.gitkeep
!data/dataset/*/papers/README.md
data/dataset/*/parallel
data/dataset/*/processed_data/*
!data/dataset/*/processed_data/.gitkeep
data/dataset/*/metadata/*
!data/dataset/*/metadata/.gitkeep
data/dataset/*/images/*
!data/dataset/*/images/.gitkeep
data/dataset/airqa/examples/litsearch/raw
data/dataset/airqa/examples/pasa/raw
data/dataset/m3sciqa/examples/*
data/dataset/spiqa/examples/*
data/dataset/scidqa/examples/*
!data/dataset/*/examples/.gitkeep

# third party repos
third_party/*
!third_party/.gitkeep

# auto annotation
data/dataset/airqa/examples/automation
